{% extends "index.html.twig" %}

{% block body %}

	<h2>Bienvenido a Pets!</h2>
				<p>
					Pet’s, es un portal web online interactivo, donde los usuarios podrán encontrar cientos de ayuda a la hora de adoptar o dar en adopción un animal, encontrar gente con los que poder juntar sus animales, ayudas de profesionales y mucho más de una forma totalmente gratuita.
				</p>
				<p><center>
					<input type="button" class="btnJ" value="Iniciar sesión"/><div class="visible-xs"><br></div>
					<input type="button" class="btnJ" value="Registrarse"/>
				</p></center>
				
{% endblock body %}